<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Tela de cadastro de solicitacao</title>
</head>
<body class="text-center">
    <div class="alert alert-success" role="alert" style="width: 80rem;">
    <h1 class="mx-auto" style="width: 200px;">Cadastrar Solicitação</h1>
    <div class="container" class="mx-auto" style="width: 200px;">

    <form action="{% url 'cadastrar_solicitacao' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <p> <br><input class="btn btn-info" type="submit" value="Salvar" style="width: 251px;"></p>
    </form>
    </div>
    </div>
</body>
</html>